<div class="tools">
	<div class="notation-tools">
		<p>Notation Tools:</p>
		<div class="notes">

			<div class="note-types">
				<% if(tools.noteTypes.length){ %>
				    <% tools.noteTypes.forEach(function(noteType) { %>
					     <a class="btn notation-note-select" data-notetype="<%= noteType %>"><%=: noteType | capitalize %> Note</a>
					<% }) %> 
				<% } %>
				<a class="btn notation-note-select" data-notetype="eraser">Eraser</a>
			</div>
			
			<% if(tools.ties){ %>
				<a class="btn notation-note-select" data-notetype="tie">Tie</a>
			<% } %>
			<a class="btn notation-note-select" data-notetype="sharp">Sharp</a>
			<a class="btn notation-note-select" data-notetype="flat">Flat</a>
			<a class="btn notation-note-select" data-notetype="natural">Natural</a>
		</div>
		<div class="zoom">
			<label>Set notation zoom level <span class="zoom-label">(100%)</span>:</label>
			<input class="zoom-select" type="range" name="points" min="0.5" max="1.0" value="1.0" step="0.1" />
		</div>
	</div>
	<div class="fancy-break"></div>
	<div class="playback-tools">
		<p>Playback Tools:</p>
		<a class="btn transport" data-transport="play"><span class="glyphicon glyphicon-play"></span>Play</a>
		<a class="btn transport" data-transport="pause"><span class="glyphicon glyphicon-pause"></span>Pause</a>
		<a class="btn transport" data-transport="stop"><span class="glyphicon glyphicon-stop"></span>Stop</a>
		
		<a class="btn volume"><span class="glyphicon glyphicon-volume-up"></a>
		<div id="volume-slider" style="height: 100px; float: right; margin-right: 15px;" data-volume="0"></div>

		<a class="advanced accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
			Advanced playback controls<span class="glyphicon glyphicon-chevron-down"></span>
		</a>

		<div id="collapseOne" class="accordion-body collapse">
			<form class="clearfix" id="select-measure">
				<label for="measure">Start playback at measure:</label>
				<input type="text" id="measure" name="measure" value="1" />
			</form>
		
			<div class="instrument">
				<label>Select playback instrument: </label>
				<select class="instrument-select">
					<% if(tools.instruments.length){ %>
					    <% tools.instruments.forEach(function(instrument) { %>
					    	<option value="<%= instrument %>"><%=: instrument | capitalize %></option>
						<% }) %> 
					<% } %>
				</select>
			</div>
			

			<div class="staff-select">
				<% tools.staves.forEach(function(staff, i) { %>
					<a class="btn staff btn-danger" title="Mute Staff  -  <%=: i+1 %>Treble" data-staff="<%=: staff.name %>">Mute Staff <%=: i+1 %> - <%=: staff.clef | capitalize %></a>
				<% }) %> 
			</div>
		</div>
		

	</div>
</div>