<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<%- include elements/head.ejs %>
</head>
<body class="exercise-body">
	<%- include elements/header.ejs %>
	<div class="clearfix">

		<% if(exerciseFound){ %>
			<div class="center-column">

				<div class="exercise">
					<p>Hello World! Here goes the music notation prototype:</p>
					<a class="tool-link">Tools -></a>
					<div id="fux-notation"></div>
				</div>
				
			</div>

			<%- include elements/tools.ejs %>

		<% }else{ %>
			<div class="center-column">
				<h2>I couldn't find that exercise.</h2>
			</div>
		<% } %>
		
	</div>
	<%- include elements/footer.ejs %>
</body> 

<%- include elements/scripts.ejs %>

<!-- Exercise Scripts -->
<script src="/js/utilities.js"></script>
<script src="/js/fux.js"></script>
<script src="/js/assetmanager.js"></script>
<script src="/js/soundmanager.js"></script>
<script src="/js/notation.js"></script>
<script src="/js/tools.js"></script>
<script type="text/javascript">
	$(function(){ FUX.init('<%- config %>'); });
</script>
</html>