<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<%- include elements/head.ejs %>
</head>
<body>
	<%- include elements/header.ejs %>
	<div class="clearfix">

		<h1>Exercises:</h1>

		<ul>
			<% if(topics.length){ %>
				 <% topics.forEach(function(topic) { %>
				 	<li>
				 		<strong><%= topic.name %></strong>
				 		<% if(topic.exercises.length){ %>
					 		<ul>
					 			<% topic.exercises.forEach(function(exercise) { %>
					 				<% if(exercise.base){ %>
					 					<li>
					 						<a class="base" href="<%= exercise.base.link %>"><%=: exercise.base.name | capitalize %></a>
					 						<% if(exercise.user && exercise.user.length){ %>
					 							<ul class="user">
					 									<strong>Your Saved Exercises:</strong>
					 								<% exercise.user.forEach(function(userexercise) { %>
					 									<li>
					 										<a href="<%= exercise.base.link %><%= userexercise.id %>"><%= userexercise.name %></a>
					 									</li>
					 								<% }) %> 
					 							</ul>
					 						<% } %>
					 					</li>
					 				<% } %>
					 			<% }) %> 
					 		</ul>
				 		<% } %>
				 	</li>
				 <% }) %> 
			<% } %>
		</ul>
	</div>
	<%- include elements/footer.ejs %>
</body> 

<%- include elements/scripts.ejs %>

</html>