<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<%- include elements/head.ejs %>
</head>
<body class="exercise-body">
	<%- include elements/header.ejs %>
	<div class="clearfix">

		<% if(exerciseFound){ %>
			<div class="center-column">

				<div class="exercise">
					<ul class="breadcrumb">
						<li><a href="/exercises/">Exercises</a> <span class="divider">/</span></li>
						<li class="active"><%= topic %></li>
					</ul>

					<% if(name){ %>
						<h2 id="exercise-title">						
							<input type="text" name="exname" data-toggle="tooltip" data-placement="right" title="Click to edit title" id="exname" value="<%= name %>" />
						</h2>
					<% } %>

					<% if(disabled){ %>
						<p>You are viewing a locked exercise, which means you do not have access to edit it.</p>
					<% } %>

					<a class="glyphicon glyphicon-wrench tool-link"></a>
					<div id="fux-notation"></div>
				</div>
				
			</div>

			<%- include elements/tools.ejs %>

		<% }else{ %>
			<div class="center-column">
				<h2>I couldn't find that exercise.</h2>
			</div>
		<% } %>
		
	</div>
	<%- include elements/footer.ejs %>
</body> 

<%- include elements/scripts.ejs %>

<!-- Exercise Scripts -->
<script src="/js/utilities.js"></script>
<script src="/js/fux.js"></script>
<script src="/js/assetmanager.js"></script>
<script src="/js/soundmanager.js"></script>
<script src="/js/notation.js"></script>
<script src="/js/tools.js"></script>
<script type="text/javascript">
	$(function(){ 
		FUX.init('<%- config %>'); 
		$('#exname').tooltip();
	});
</script>
</html>